@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<table class="table table-striped table-bordered table-sm">
    <thead>
        <tr bg-color="info" text-color="white">
            <th colspan="2">Employee Details</th>
        </tr>
    </thead>
    <tbody>
        <tr bg-color="warning" text-center text-color="dark"><th>Employee ID</th><td>1</td></tr>
        <tr bg-color="danger" text-center text-color="light"><th>Employee Name</th><td bg-color="info" text-color="white">Morris Otieno O</td></tr>
        <tr bg-color="secondary" text-center text-color="light"><th>Salary</th><td bg-color="dark">500000</td></tr>
    </tbody>
</table>

<h1 bg-color="info" text-color="white">Hello World from Custom tag helper</h1>