@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<table class="table table-striped table-bordered table-sm">
    <thead>
        <tr>
            <th colspan="2">Employee Details</th>
        </tr>
    </thead>
    <tbody>
        <tr><th>Employee ID</th><td>1</td></tr>
        <tr><th>Employee Name</th><td>Morris Otieno O</td></tr>
        <tr><th>Salary</th><td>500000</td> </tr>
    </tbody>
</table>