@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@section Summary {
    <div class="bg-info text-white m-2 p-2">
        @*@await Component.InvokeAsync("ProductSummary")*@

        @await Component.InvokeAsync("ProductSummary", new { units = 45 })
    </div>

    <div class="bg-info text-white m-2 p-2">
        <vc:product-summary units="45"  />
    </div>
}