@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Google Developer Conference 2020</h1>

    <img src="~/Images/dev.png" />
</div>

<div>
    <ul>
        <li>A virtual platform for you to learn from the experts and connect with the google community</li>
        <li>Calling all developers! Get ready to dev-level-up</li>
        <li>The way we work, and live, has changed. We now live in a world of remote everything.</li>
    </ul>

</div>

<a class="btn btn-primary" asp-action="RegisterForm">Register for Google Developer Conference</a>

