@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h2>Log Level : @ViewBag.LogLevel</h2>

<h2>AzureSQLServerURL : @ViewBag.AzureSQLServerURL</h2>
<h2>EmployeePhotoUploadPath : @ViewBag.EmployeePhotoUploadPath</h2>
<h2>SMTPServer : @ViewBag.SMTPServer</h2>
