@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h1>APIKey : @ViewBag.APIKey</h1>

<h1>DBPwd : @ViewBag.DBPwd</h1>

<h1>AdminAccount : @ViewBag.AdminAccount</h1>
